// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~@fortawesome/fontawesome-free/css/fontawesome.css";


.background-img{
  background-image: url('/img/background.jpeg');
  height: 100vh;
  background-position: center;
  background-size: auto;
}

#home{
  .circle-data{
      background-color: #ffb300;
      border-color: #ffb300;
      color: #fff;

      .circle-icon-left{
        flex: 0.5;
      }

      .circle-icon-right{
        flex: 1;
      }
  }

  .circle-warning{
      background-color: #ffb300;
      border-color: #ffb300;
  }

  .circle-info{
      background-color: #03a9f4;
      border-color: #03a9f4;
  }

  .circle-success{
      background-color: #26a69a;
      border-color: #26a69a;
  }
}
