<template>
  <el-dialog :title="the_title()" width="80%"  :visible.sync="dialogFormVisible">
    <el-form :model="client" label-width="130px">
      <el-form-item label="Nom">
          <el-row :gutter="20">
            <el-col :span="11">
                <el-input placeholder="Nom" v-model="client.name"></el-input>
            </el-col>

            <el-col :span="11">
                <el-input placeholder="Prénom" v-model="client.firstname"></el-input>
            </el-col>
          </el-row>
      </el-form-item>

      <el-form-item label="Coordonnées">
          <el-row :gutter="20">
            <el-col :span="11">
                <el-input placeholder="E-Mail" v-model="client.email"></el-input>
            </el-col>

            <el-col :span="11">
                <el-input placeholder="Portable" v-model="client.phone"></el-input>
            </el-col>
          </el-row>
      </el-form-item>
      <el-form-item label="Passeport">
          <el-row :gutter="20">
            <el-col :span="22">
              <el-input placeholder="Passeport" v-model="client.passeport"></el-input>
            </el-col>
          </el-row>
      </el-form-item>
      <el-form-item label="Date de naissance">
        <el-row :gutter="20">
          <el-col :span="22">
            <el-date-picker
              v-model="client.birthday"
              type="date"
              format="dd/MM/yyyy"
              value-format="yyyy-MM-dd"
              placeholder="Date de naissance">
            </el-date-picker>
          </el-col>
        </el-row>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="dialogFormVisible = false">Annuler</el-button>
      <el-button type="primary" @click="saveClient">Confirmer</el-button>
    </span>
  </el-dialog>
</template>


<script>
    export default {
        props: ['dialogFormVisible','client'],
        data() {
            return {
              loading:false,
            }
        },
        methods:{
          checkForm:function(){
            var canSave = true;
            for (var prop in this.client) {
              if(this.client[prop] === null || this.client[prop] === '')
              {
                canSave = false;
                this.$notify({
                  title: 'Erreur',
                  message: 'Veuillez remplir tous les champs',
                  type: 'error'
                });
              }
            }

            return canSave;
          },
          saveClient:function(){
            if(this.checkForm())
            {
              this.loading=true;
              axios.post('http://hotel.test/api/clients',{
                client:this.client
              })
              .then((response) => {
                  if(response.data)
                  {
                    try {
                      this.$emit('updateClients')
                      this.$notify({
                        title: 'OK !',
                        message: 'Le client a bien été mis à jour',
                        type: 'success'
                      });
                      this.$emit('closeDialog')
                    } catch (e) {
                      console.log(e)
                    } finally {

                    }
                  }
              })
              .catch(error => {
                  this.loading=false;
                  this.$notify({
                    title: 'Erreur',
                    message: 'Impossible de sauvegarder la chambre',
                    type: 'error'
                  });
              });
            }
            else{
              return false;
            }
          },
          the_title:function(){
            var html;
            html = 'Modification du client '+this.client.name+' '+this.client.firstname;
            return html;
          },

        }
    }
</script>
