<template>
  <div id="clients">
    <el-table
      :data="clients"
      v-loading="loading"
      style="width: 100%">
      <el-table-column type="expand">
        <template slot-scope="props">
          <el-table
            :data="props.row.bookings"
            style="width: 100%">
            <el-table-column
              label="Arrivée"
              prop="start_date">
              <template slot-scope="scope2">
                {{the_date(scope2.row.start_date)}}
              </template>
            </el-table-column>
            <el-table-column
              label="Départ"
              prop="end_date">
              <template slot-scope="scope2">
                {{the_date(scope2.row.end_date)}}
              </template>
            </el-table-column>
            <el-table-column
              label="Chambre"
              prop="room">
              <template slot-scope="scope2">
                {{scope2.row.room.number}} ({{scope2.row.room.room_category.name}})
              </template>
            </el-table-column>
            <el-table-column>
              <template slot-scope="scope">
                <el-button
                  size="mini"
                  type="primary"
                  @click="edit(scope.$index, scope.row)">Voir</el-button>
              </template>
            </el-table-column>
          </el-table>
        </template>
      </el-table-column>
      <el-table-column
        label="Nom"
        prop="name">
      </el-table-column>
      <el-table-column
        label="Prénom"
        prop="firstname">
      </el-table-column>
      <el-table-column
        label="Date de naissance">
        <template slot-scope="scope">
          {{the_date(scope.row.birthday)}} ({{the_age(scope.row.birthday)}} ans)
        </template>
      </el-table-column>
      <el-table-column
        label="Email"
        prop="email">
      </el-table-column>
      <el-table-column
        label="Portable"
        prop="phone">
      </el-table-column>
      <el-table-column
        align="right">
        <template slot="header" slot-scope="scope">
          <el-input
            v-model="search"
            size="mini"
            placeholder="Type to search"/>
        </template>
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="primary"
            @click="openForm(scope.row.id)"><i class="fas fa-eye"></i></el-button>
          <el-button
            size="mini"
            type="danger"
            @click="deleteClient(scope.$index, scope.row)"><i class="fas fa-trash"></i></el-button>
        </template>
      </el-table-column>
    </el-table>
    <client-form-crud :dialogFormVisible="dialogFormVisible" :client="client" @updateClients="getClients" @closeDialog="dialogFormVisible=false"></client-form-crud>

  </div>
</template>

<script>
    export default {
        data() {
            return {
              clients:[],
              loading:false,
              search:'',
              client:{},
              dialogFormVisible:false,
            }
        },
        methods:{
          formatter_price:function(row, column, cellValue, index){
            var html = '';
            html += row.price+' €';

            return html;
          },
          the_date(date)
          {
              var dateFr = moment(date).format('DD/MM/YYYY');
              return dateFr;
          },
          the_age(date)
          {
              var age = moment().diff(date, 'years');
              return age;
          },
          getClients:function(){
            this.loading=true;
            axios.get('http://hotel.test/api/clients')
            .then((response) =>{
                if(response.data)
                {
                    this.clients = response.data;
                }
                this.loading=false;
            })
            .catch(error => {
              console.log(error)
                  this.loading=false;
                  this.$alert('Erreur', 'Warning', {
                      confirmButtonText: 'OK',
                      callback: action => {

                      }
                  });
            });
          },
          openForm:function(id){

            var client = {};
            this.clients.forEach((row) => {
                if(row.id == id)
                {
                  client = row;
                }
            });
            this.client = Object.assign({}, this.client, client);
            this.dialogFormVisible = true;

          },
          deleteClient:function(index,row){
            this.$confirm('Etes-vous sûr de vouloir supprimer ce client ?', 'Warning', {
              confirmButtonText: 'Oui',
              cancelButtonText: 'Annuler',
              type: 'warning'
            }).then(() => {
              this.loading=true;
              axios.delete('http://hotel.test/api/clients/'+row.id)
              .then((response) =>{

                  this.$notify({
                    title: 'OK !',
                    message: "Client supprimé.",
                    type: 'success'
                  });
                  this.clients.splice(index, 1);

                  this.loading=false;
              })
              .catch(error => {
                this.loading=false;
                this.$alert('Erreur', 'Warning', {
                    confirmButtonText: 'OK',
                    callback: action => {

                    }
                });
              });

            }).catch(() => {
            });
          }
        },
        mounted() {
            console.log('Component mounted.')
            this.getClients()
        }
    }
</script>
