<template>
  <div class="container">
    <div class="d-flex justify-content-end pb-3">
      <el-button type="success" @click="saveBooking">
        <span v-if="booking.id">Modifier</span>
        <span v-else>Créer</span>

      </el-button>
    </div>

    <el-card class="mb-2" >
        <div slot="header" class="clearfix">
          <span>Réservation N°{{this.booking.reference}}</span>
        </div>
        <div class="card-body">
          <el-form ref="form" label-width="120px">
            <el-row :gutter="20">
              <el-col :span="11">
                <el-form-item label="Date d'arrivée">
                  <el-date-picker
                    style="width:100%"
                    v-model="booking.start_date"
                    type="date"
                    format="dd/MM/yyyy"
                    value-format="yyyy-MM-dd"
                    placeholder="Choississez un jour">
                  </el-date-picker>
                </el-form-item>
              </el-col>
              <el-col :span="2" class="text-center">
                -
              </el-col>
              <el-col :span="11">
                <el-form-item label="Date de départ">
                  <el-date-picker
                    v-model="booking.end_date"
                    style="width:100%"
                    type="date"
                    format="dd/MM/yyyy"
                    value-format="yyyy-MM-dd"
                    placeholder="Choississez un jour">
                  </el-date-picker>
                </el-form-item>
              </el-col>
            </el-row>

            <el-form-item label="Chambre">
              <el-select v-model="booking.room_id" placeholder="veuillez sélectionner la chambre">
                <el-option-group
                  v-for="roomCategory in roomCategories"
                  :key="roomCategory.id"
                  :label="roomCategory.name">
                  <el-option
                    v-for="room in roomCategory.rooms"
                    :key="room.id"
                    :label="room.number"
                    :value="room.id">
                  </el-option>
                </el-option-group>
              </el-select>
            </el-form-item>
          </el-form>
        </div>
    </el-card>

    <el-card class="mb-2" v-if="booking.order_client">
      <div slot="header" class="clearfix">
        <span>Client Principal</span>
      </div>
      <div class="card-body">
        <el-form ref="form-client-principal" label-width="120px">
          <el-form-item label="Nom">
              <el-row :gutter="20">
                <el-col :span="11">
                    <el-input placeholder="Nom" v-model="booking.order_client.name"></el-input>
                </el-col>

                <el-col :span="11">
                    <el-input placeholder="Prénom" v-model="booking.order_client.firstname"></el-input>
                </el-col>
              </el-row>
          </el-form-item>

          <el-form-item label="Coordonnées">
              <el-row :gutter="20">
                <el-col :span="11">
                    <el-input placeholder="E-Mail" v-model="booking.order_client.email"></el-input>
                </el-col>

                <el-col :span="11">
                    <el-input placeholder="Portable" v-model="booking.order_client.phone"></el-input>
                </el-col>
              </el-row>
          </el-form-item>
          <el-form-item label="Date de naissance">
            <el-row :gutter="20">
              <el-col :span="22">
                <el-date-picker
                  v-model="booking.order_client.birthday"
                  type="date"
                  format="dd/MM/yyyy"
                  value-format="yyyy-MM-dd"
                  placeholder="Date de naissance">
                </el-date-picker>
              </el-col>
            </el-row>
          </el-form-item>
        </el-form>
      </div>
    </el-card>

    <el-card>
      <div slot="header" class="clearfix">
        <span>Client(s) Secondaire(s)</span>
      </div>
      <div class="card-body">
        <el-form ref="form-clients-secondary" label-width="120px">
          <el-row :gutter="20" v-for="(client,index) in booking.clients" :key="index" v-if="((client.id && client.id != booking.order_client.id) || !client.id)">
            <el-col :span="7">
                <el-input placeholder="Nom" v-model="client.name"></el-input>
            </el-col>

            <el-col :span="7">
                <el-input placeholder="Prénom" v-model="client.firstname"></el-input>
            </el-col>

            <el-col :span="7">
                <el-date-picker
                  v-model="client.birthday"
                  style="width:100%"
                  type="date"
                  format="dd/MM/yyyy"
                  value-format="yyyy-MM-dd"
                  placeholder="Date de naissance">
                </el-date-picker>
            </el-col>

            <el-col :span="3">
               <el-button type="danger" size="medium" @click="removeClient(index,client.id)">
                 <i class="fas fa-times"></i>
               </el-button>
            </el-col>
          </el-row>

          <el-row :gutter="20" class="text-center">
            <el-button class="mt-2" type="primary" @click="addClient">
              Ajouter un client
            </el-button>
          </el-row>

        </el-form>
      </div>
    </el-card>
  </div>
</template>


<script type="text/javascript">
    export default {
      data() {
          return {
            booking:{},
            loading:false,
            lastReference:'',
            roomCategories:[],
            clientData:{
              id:null,
              name:'',
              firstname:'',
              mail:'',
              phone:'',
              birthday:''
            }
          }
      },
      methods:{
        getRoomCategories:function(){
          axios.get('http://hotel.test/api/roomCategories/')
          .then((response) =>{
              if(response.data)
              {
                  this.roomCategories = response.data;

                  if(this.$route.params.tokenBooking == "new")
                  {
                    this.booking.room_id = this.roomCategories[0].rooms[0].id
                  }
              }
              this.loading=false;
          })
          .catch(error => {
            console.log(error)
            this.loading=false;
            this.$alert('Erreur', 'Warning', {
                confirmButtonText: 'OK',
                callback: action => {

                }
            });
          });
        },
        getBooking:function(){
          this.loading=true;
          var tokenBooking = this.$route.params.tokenBooking;
          axios.get('http://hotel.test/api/bookings/'+tokenBooking)
          .then((response) =>{
            try {
              if(response.data.booking)
              {
                  this.booking = response.data.booking;
                  this.lastReference = response.data.lastReference;
              }
              else{
                this.$notify({
                  title: 'Erreur !',
                  message: "La réservation n'existe pas.",
                  type: 'error'
                });

                this.$router.push({ name: 'bookings'})
              }
              this.getRoomCategories();
            } catch (e) {
              console.log(e)
            } finally {

            }

          })
          .catch(error => {
            console.log(error)
                this.loading=false;
                this.$alert('Erreur', 'Warning', {
                    confirmButtonText: 'OK',
                    callback: action => {

                    }
                });
          });
        },
        resetData:function(){
          this.loading = true;
          this.booking = {
            start_date:moment().format('YYYY-MM-DD'),
            end_date:moment().add(1,'day').format('YYYY-MM-DD'),
            client_id:0,
            room_id:0,
            reference:this.calculateNextReference(),
            created_at:moment().format('YYYY-MM-DD HH:mm:ss'),
            updated_at:moment().format('YYYY-MM-DD HH:mm:ss'),
            room:{},
            clients:[],
            order_client:null
          }

          this.booking.order_client = {};
          this.booking.order_client = Object.assign({}, this.booking.order_client, this.clientData)
          this.getRoomCategories();
        },
        addClient:function(){
          var newClient = {};
          Object.assign(newClient, this.clientData);
          this.booking.clients.push(newClient)
        },
        calculateNextReference:function(){
          return this.lastReference;
        },
        removeClient(index,id){
          if(id)
          {
            this.booking.clients.forEach((client,index2) => {
              if(client.id == id)
              {
                this.booking.clients.splice(index2,1);
              }
            });
          }
          else{
            this.booking.clients.splice(index,1)
          }
        },
        saveBooking:function(){
          this.loading=true;
          axios.post('http://hotel.test/api/bookings',{
            booking:this.booking
          })
          .then((response) => {
              if(response.data)
              {
                try {
                  if(this.$route.params.tokenBooking == "new")
                  {
                    this.$router.push({ name: 'crud-booking', params: { tokenBooking: response.data.token } })
                  }
                  this.$notify({
                    title: 'OK !',
                    message: 'La réservation a bien été sauvegardée',
                    type: 'success'
                  });
                } catch (e) {
                  console.log(e)
                } finally {

                }

              }
          })
          .catch(error => {
              this.loading=false;
              this.$notify({
                title: 'Erreur',
                message: 'Impossible de sauvegarder la réservation',
                type: 'danger'
              });
          });
        },
        dealWithToken : function(){
          if(this.$route.params.tokenBooking != "new")
          {
              this.getBooking();
          }
          else
          {
              this.resetData();
          }
        }
      },
      mounted:function(){
        this.dealWithToken()
      },
      watch: {
        $route(to, from) {
          this.dealWithToken()
        }
      }
    }
</script>
