<template>
  <div id="bookings">
    <div class="d-flex justify-content-end pb-3">
      <router-link :to="{ name : 'crud-booking', params:{tokenBooking:'new'}}" tag="span" exact>
        <el-button type="success">
          Créer une réservation
        </el-button>
      </router-link>
    </div>

    <el-table
      :data="bookings"
      v-loading="loading"
      style="width: 100%">
      <el-table-column
        label="Référence"
        prop="reference">
      </el-table-column>
      <el-table-column
        label="Name"
        prop="order_client.name">
      </el-table-column>
      <el-table-column
        label="Prénom"
        prop="order_client.firstname">
      </el-table-column>
      <el-table-column
          label="Email">
          <template slot-scope="scope">
            <a target='_blank' :href="'mailto:'+scope.row.order_client.email">{{ scope.row.order_client.email }}</a>
          </template>
      </el-table-column>
      <el-table-column
        label="Arrivée"
        prop="start_date"
        :formatter="formatter_date">
      </el-table-column>
      <el-table-column
        label="Départ"
        prop="end_date"
        :formatter="formatter_date">
      </el-table-column>
      <el-table-column
        label="Chambre"
        prop="room"
        :formatter="formatter_room">
      </el-table-column>
      <el-table-column
        align="right">
        <template slot="header" slot-scope="scope">
          <el-input
            v-model="search"
            size="mini"
            placeholder="Type to search"/>
        </template>
        <template slot-scope="scope">
          <router-link :to="{ name : 'crud-booking', params:{tokenBooking:scope.row.token}}" tag="span" exact>
            <el-button
              size="mini" type="primary"><i class="fas fa-eye"></i>  </el-button>
          </router-link>

          <el-button
            size="mini"
            type="danger"
            @click="deleteBooking(scope.$index, scope.row)"><i class="fas fa-trash"></i></el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
    export default {
        data() {
            return {
              bookings:[],
              loading:false,
              search:''
            }
        },
        methods:{
          formatter_email:function(row, column, cellValue, index){
            var html = '';
            html += '<a href="mailto:'+row.order_client.email+'">'+row.order_client.email+'</a>';

            return html;
          },
          formatter_date:function(row, column, cellValue, index){
            return moment(cellValue).format('DD/MM/YYYY');
          },
          formatter_room:function(row, column, cellValue, index){
            var html = '';
            html += row.room.number+' ('+row.room.room_category.name+')';
            return html;
          },
          getBookings:function(){
            this.loading=true;
            axios.get('http://hotel.test/api/bookings')
            .then((response) =>{
                if(response.data)
                {
                    this.bookings = response.data;
                }
                this.loading=false;
            })
            .catch(error => {
              console.log(error)
                  this.loading=false;
                  this.$alert('Erreur', 'Warning', {
                      confirmButtonText: 'OK',
                      callback: action => {

                      }
                  });
            });
          },
          deleteBooking:function(index,row){
            this.$confirm('Etes-vous sûr de vouloir supprimer la réservation ?', 'Warning', {
              confirmButtonText: 'Oui',
              cancelButtonText: 'Annuler',
              type: 'warning'
            }).then(() => {
              this.loading=true;
              axios.delete('http://hotel.test/api/bookings/'+row.id)
              .then((response) =>{

                  this.$notify({
                    title: 'OK !',
                    message: "Réservation supprimée.",
                    type: 'success'
                  });
                  this.bookings.splice(index, 1);

                  this.loading=false;
              })
              .catch(error => {
                this.loading=false;
                this.$alert('Erreur', 'Warning', {
                    confirmButtonText: 'OK',
                    callback: action => {

                    }
                });
              });

            }).catch(() => {
            });
          }
        },
        mounted() {
            this.getBookings()
        }
    }
</script>
