<template>
    <div class="container">
        <el-row :gutter="20">
          <el-col :span="8">
            <router-link :to="{ name : 'rooms'}" tag="span" exact>
              <el-card :body-style="{ padding: '0px' }">
                <img :src="img_URL+'room.jpeg'" width="100%" class="img-responsive">
                <div class="p-3 text-center">
                  <span>Vos Chambres</span>
                  <div class="bottom clearfix">
                    <!-- <el-button type="text" class="button">Operating</el-button> -->
                  </div>
                </div>
              </el-card>
            </router-link>
          </el-col>
          <el-col :span="8">
            <router-link :to="{ name : 'clients'}" tag="span" exact>
              <el-card :body-style="{ padding: '0px' }">
                <img :src="img_URL+'clients.jpg'" width="100%" class="img-responsive">
                <div class="p-3 text-center">
                  <span>Vos Clients</span>
                  <div class="bottom clearfix">
                    <!-- <el-button type="text" class="button">Operating</el-button> -->
                  </div>
                </div>
              </el-card>
            </router-link>
          </el-col>
          <el-col :span="8">
            <router-link :to="{ name : 'room-categories'}" tag="span" exact>
              <el-card :body-style="{ padding: '0px' }">
                <img :src="img_URL+'categoryroom.jpg'" width="100%" class="img-responsive">
                <div class="p-3 text-center">
                  <span>Vos Catégories de chambre</span>
                  <div class="bottom clearfix">
                    <!-- <el-button type="text" class="button">Operating</el-button> -->
                  </div>
                </div>
              </el-card>
            </router-link>
          </el-col>
        </el-row>
    </div>
</template>

<script>
    export default {
        data() {
            return {
              base_URL:BASE_URL,
              img_URL:IMG_URL
            }
        },
        computed: {
          currentUser() {
              return VuexStore.state.currentUser
          },
        },
        methods:{

        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
