<template>
  <div id="home">
    <el-row :gutter="20">
      <el-col :span="6"><h4>Bonjour {{currentUser.name}} !</h4></el-col>
      <el-col class="text-right"  :span="6" :offset="12">
        <span class="pr-4" v-loading="loading">Il fait {{temp}}° à Colmar.</span>
      </el-col>
    </el-row>

    <el-row class="mt-5 text-center " :gutter="20">
      <el-col :span="8" >
        <div class="circle-data circle-warning d-flex align-items-center justify-content-center">
          <div class="circle-icon-left p-2">
              <i class="fas fa-sign-in-alt fa-3x"></i>
          </div>

          <div class="circle-icon-right text-left p-2">
            <div class="h4">15</div>
            <div>Clients Check-In</div>
          </div>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="circle-data circle-success d-flex align-items-center justify-content-center">
          <div class="circle-icon-left p-2">
              <i class="fas fa-bed fa-3x"></i>
          </div>

          <div class="circle-icon-right text-left p-2">
            <div class="h4">15</div>
            <div>Clients à l'hôtel</div>
          </div>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="circle-data circle-info d-flex align-items-center justify-content-center">
          <div class="circle-icon-left p-2">
              <i class="fas fa-sign-out-alt fa-3x"></i>
          </div>

          <div class="circle-icon-right text-left p-2">
            <div class="h4">15</div>
            <div>Clients Check-Out</div>
          </div>
        </div>
      </el-col>
    </el-row>

    <el-row class="mt-5" :gutter="20">
      <h4 class="pl-2">Prochaines arrivées prévues</h4>
      <el-table
        :data="nextBookings"
        v-loading="loading"
        style="width: 100%">
        <el-table-column
          label="Référence"
          prop="reference">
        </el-table-column>
        <el-table-column
          label="Name"
          prop="order_client.name">
        </el-table-column>
        <el-table-column
          label="Prénom"
          prop="order_client.firstname">
        </el-table-column>
        <el-table-column
            label="Email">
            <template slot-scope="scope">
              <a target='_blank' :href="'mailto:'+scope.row.order_client.email">{{ scope.row.order_client.email }}</a>
            </template>
        </el-table-column>
        <el-table-column
          label="Arrivée"
          prop="start_date"
          :formatter="formatter_date">
        </el-table-column>
        <el-table-column
          label="Départ"
          prop="end_date"
          :formatter="formatter_date">
        </el-table-column>
        <el-table-column
          label="Chambre"
          prop="room"
          :formatter="formatter_room">
        </el-table-column>
        <el-table-column
          align="right">
          <template slot="header" slot-scope="scope">
            <el-input
              v-model="search"
              size="mini"
              placeholder="Type to search"/>
          </template>
          <template slot-scope="scope">
            <router-link :to="{ name : 'crud-booking', params:{tokenBooking:scope.row.token}}" tag="span" exact>
              <el-button
                size="mini" type="primary"> <i class="fas fa-eye"></i>  </el-button>
            </router-link>

            <el-button
              size="mini"
              type="danger"
              @click="deleteBooking(scope.$index, scope.row)"><i class="fas fa-trash"></i></el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-row>
  </div>

</template>

<script>
    export default {
        data() {
            return {
              loading:true,
              nextBookings:[],
              temp:{}
            }
        },
        computed: {
            currentUser() {
                return VuexStore.state.currentUser
            }
        },
        methods:{
          getWeather:function(){
            this.loading = true;
            $.ajax({
              method: "GET",
              url: "http://api.openweathermap.org/data/2.5/weather?id=3024297&APPID=79474bafb416f4d07d32fb13f620ef82&lang=fr",
              dataType: "json",
            }).done(( response ) => {
              this.loading = false;
              var temperature = response.main.temp - 273.15;
              this.temp = Math.round(temperature);

              this.getBookings();
            });

          },
          getBookings:function(){
            this.loading=true;
            axios.get('http://hotel.test/api/bookings/next')
            .then((response) =>{
                if(response.data)
                {
                    this.nextBookings = response.data;
                }
                this.loading=false;
            })
            .catch(error => {
              console.log(error)
                  this.loading=false;
                  this.$alert('Erreur', 'Warning', {
                      confirmButtonText: 'OK',
                      callback: action => {

                      }
                  });
            });
          },
          formatter_email:function(row, column, cellValue, index){
            var html = '';
            html += '<a href="mailto:'+row.order_client.email+'">'+row.order_client.email+'</a>';

            return html;
          },
          formatter_date:function(row, column, cellValue, index){
            return moment(cellValue).format('DD/MM/YYYY');
          },
          formatter_room:function(row, column, cellValue, index){
            var html = '';
            html += row.room.number+' ('+row.room.room_category.name+')';
            return html;
          },
          deleteBooking:function(index,row){
            this.$confirm('Etes-vous sûr de vouloir supprimer la réservation ?', 'Warning', {
              confirmButtonText: 'Oui',
              cancelButtonText: 'Annuler',
              type: 'warning'
            }).then(() => {
              this.loading=true;
              axios.delete('http://hotel.test/api/bookings/'+row.id)
              .then((response) =>{

                  this.$notify({
                    title: 'OK !',
                    message: "Réservation supprimée.",
                    type: 'success'
                  });
                  this.bookings.splice(index, 1);

                  this.loading=false;
              })
              .catch(error => {
                this.loading=false;
                this.$alert('Erreur', 'Warning', {
                    confirmButtonText: 'OK',
                    callback: action => {

                    }
                });
              });

            }).catch(() => {
            });
          }
        },
        created(){
          this.getWeather()
        }
    }
</script>
