<template>
  <el-dialog :title="the_title()" :visible.sync="dialogFormVisible">
    <el-form :model="room">
      <el-form-item label="Numéro">
        <el-input v-model="room.number" autocomplete="off" :disabled="checkDisable()"></el-input>
      </el-form-item>
      <el-form-item label="Catégorie">
        <el-select v-model="room.category_id" placeholder="Sélectionnez une catégorie">
          <el-option v-for="category in roomCategories" :key="category.id" :label="category.name" :value="category.id"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="Prix">
        <el-input v-model="room.price" autocomplete="off"></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="dialogFormVisible = false">Annuler</el-button>
      <el-button type="primary" @click="saveRoom">Confirmer</el-button>
    </span>
  </el-dialog>
</template>


<script>
    export default {
        props: ['dialogFormVisible','room','roomCategories'],
        data() {
            return {
              loading:false,

            }
        },
        methods:{
          checkDisable:function(){
            var disable = false;
            if(this.room.id)
            {
              disable = true;
            }
            return disable;
          },
          checkRoomNumber:function(){
            var isAlreadyCreated = false;
            this.roomCategories.forEach((roomCategorie) => {
              var rooms = roomCategorie.rooms;
              rooms.forEach((room) => {
                if(room.number == this.room.number){
                  isAlreadyCreated = true;
                }
              })
            });

            return isAlreadyCreated;
          },
          checkForm:function(){
            var canSave = true;
            if(!this.room.number)
            {
              canSave = false;
              this.$notify({
                title: 'Erreur',
                message: 'Veuillez indiquer un numéro de chambre',
                type: 'error'
              });
            }
            else if(this.checkRoomNumber() && !this.room.id)
            {
              canSave = false;
              this.$notify({
                title: 'Erreur',
                message: 'Ce numéro de chambre existe déjà',
                type: 'error'
              });
            }
            else if(!this.room.price)
            {
              canSave = false;
              this.$notify({
                title: 'Erreur',
                message: 'Veuillez indiquer un prix',
                type: 'error'
              });
            }

            return canSave;
          },
          saveRoom:function(){
            if(this.checkForm())
            {
              this.loading=true;
              axios.post('http://hotel.test/api/rooms',{
                room:this.room
              })
              .then((response) => {
                  if(response.data)
                  {
                    try {
                      this.$emit('updateRooms')
                      this.$notify({
                        title: 'OK !',
                        message: 'La chambre a bien été sauvegardée',
                        type: 'success'
                      });
                      this.$emit('closeDialog')
                    } catch (e) {
                      console.log(e)
                    } finally {

                    }

                  }
              })
              .catch(error => {
                  this.loading=false;
                  this.$notify({
                    title: 'Erreur',
                    message: 'Impossible de sauvegarder la chambre',
                    type: 'error'
                  });
              });
            }
            else{
              return false;
            }
          },
          the_title:function(){
            var html;
            if(this.room.id)
            {
              html = 'Modification la chambre n°'+this.room.number;
            }
            else{
              html = "Création d'une nouvelle chambre";
            }

            return html;
          },

        }
    }
</script>
