<template>
  <div id="rooms">
    <div class="d-flex justify-content-end pb-3">
        <el-button type="success" @click="openForm('new')">
          Créer une chambre
        </el-button>
    </div>

    <el-table
      :data="rooms"
      v-loading="loading"
      style="width: 100%">
      <el-table-column
        label="Numéro"
        prop="number">
      </el-table-column>
      <el-table-column
        label="Catégorie"
        prop="room_category.name">
      </el-table-column>
      <el-table-column
        label="Prix"
        :formatter="formatter_price">
      </el-table-column>
      <el-table-column
        label="Statut">
        <template slot-scope="scope">
          <span v-if="scope.row.state" class="btn btn-sm btn-success">Activée</span>
          <span v-else class="btn btn-sm btn-danger">Désactivée</span>
        </template>
      </el-table-column>

      <el-table-column
        align="right">
        <template slot="header" slot-scope="scope">
          <el-input
            v-model="search"
            size="mini"
            placeholder="Type to search"/>
        </template>
        <template slot-scope="scope">
          <el-button
            size="mini"
            type="primary"
            @click="openForm(scope.row.id)"><i class="fas fa-eye"></i></el-button>
          <el-button
            size="mini"
            type="danger"
            @click="deleteRoom(scope.$index, scope.row)"><i class="fas fa-trash"></i></el-button>
        </template>
      </el-table-column>
    </el-table>

    <room-form-crud :dialogFormVisible="dialogFormVisible" :room="room" :roomCategories="roomCategories" @updateRooms="getRooms" @closeDialog="dialogFormVisible=false"></room-form-crud>
  </div>
</template>

<script>
    export default {
        data() {
            return {
              rooms:[],
              loading:false,
              search:'',
              dialogFormVisible:false,
              room:{},
              roomData:{
                id:null,
                number:'',
                category_id:1,
                price:70.0,
              },
              roomCategories:[]
            }
        },
        methods:{
          formatter_price:function(row, column, cellValue, index){
            var html = '';
            html += row.price+' €';

            return html;
          },
          getRooms:function(){
            this.loading=true;
            axios.get('http://hotel.test/api/rooms')
            .then((response) =>{
                if(response.data)
                {
                    this.rooms = response.data;
                }
                this.getRoomCategories();
            })
            .catch(error => {
              console.log(error)
                  this.loading=false;
                  this.$alert('Erreur', 'Warning', {
                      confirmButtonText: 'OK',
                      callback: action => {

                      }
                  });
            });
          },
          openForm:function(id){
            if(id == 'new')
            {
              this.room = Object.assign({}, this.room, this.roomData);
              this.dialogFormVisible = true;
            }
            else{
              var room = {};
              this.rooms.forEach((row) => {
                  if(row.id == id)
                  {
                    room = row;
                  }
              });
              console.log(room)
              this.room = Object.assign({}, this.room, room);
              this.dialogFormVisible = true;
            }
          },
          deleteRoom:function(index,row){
            this.$confirm('Etes-vous sûr de vouloir supprimer la chambre '+row.number+' ?', 'Warning', {
              confirmButtonText: 'Oui',
              cancelButtonText: 'Annuler',
              type: 'warning'
            }).then(() => {
              this.loading=true;
              axios.delete('http://hotel.test/api/rooms/'+row.id)
              .then((response) =>{

                  this.$notify({
                    title: 'OK !',
                    message: "Chambre supprimée.",
                    type: 'success'
                  });
                  this.rooms.splice(index, 1);

                  this.loading=false;
              })
              .catch(error => {
                this.loading=false;
                this.$alert('Erreur', 'Warning', {
                    confirmButtonText: 'OK',
                    callback: action => {

                    }
                });
              });

            }).catch(() => {
            });
          },
          getRoomCategories:function(){
            axios.get('http://hotel.test/api/roomCategories/')
            .then((response) =>{
                if(response.data)
                {
                    this.roomCategories = response.data;
                }
                this.loading=false;
            })
            .catch(error => {
              console.log(error)
              this.loading=false;
              this.$alert('Erreur', 'Warning', {
                  confirmButtonText: 'OK',
                  callback: action => {

                  }
              });
            });
          },
        },
        mounted() {
            console.log('Component mounted.')
            this.getRooms()
        }
    }
</script>
